@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #1f1f1f;
  min-width: 1100px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
